<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Learning framework development">
    <test thread-count="2" parallel="methods" name="Test">
        <classes>
            <!--            <class name="com.learning.tests.BaseTest"/>-->
            <!-- even without adding base test, still before and after methods would get triggered-->
            <class name="com.learning.tests.OrangeHRMTests"/>

        </classes>
    </test>
</suite>