<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Learning framework development">
    <test thread-count="2" parallel="methods" name="Test">
        <classes>
            <class name="com.learning.tests.BaseTest"/>
            <class name="com.learning.tests.LoginpageTests"/>
            <class name="com.learning.tests.HomepageTests"/>
        </classes>
    </test>
</suite>